build/

*.o
*.out
*.exe
*.so
*.dylib

.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo

benchmarking/results/csv/*.csv
benchmarking/results/png/*.png

sequential_benchmark.txt
concurrent_benchmark.txt

.DS_Store

Thumbs.db

.vscode/
.idea/