build/
*.o
*.out
*.exe
*.so
*.dylib

.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo

web/

benchmarking/results/csv/*
benchmarking/results/png/*

!benchmarking/results/csv/.gitkeep
!benchmarking/results/png/.gitkeep

sequential_benchmark.txt
concurrent_benchmark.txt
benchmarking/results/cache_stats.txt

.DS_Store
Thumbs.db
.vscode/
.idea/